.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c5fc;
  height: 100vh;
}
.capitals-container {
  background-color: #f3fafc;
  border-radius: 16px;
  width: 96%;
  padding: 20px;
  max-width: 345px;
}
.heading {
  color: #1e293b;
  font-family: 'Ro';
}
